/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Montserrat Italic"), local("Montserrat-Italic"), url(https://fonts.gstatic.com/s/montserrat/v13/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Montserrat Bold Italic"), local("Montserrat-BoldItalic"), url(https://fonts.gstatic.com/s/montserrat/v13/JTUPjIg1_i6t8kCHKm459WxZcgvz_PZw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
body h1 {
  position: absolute;
  top: 15px;
  left: 115px;
  padding-right: 100px;
  color: white;
}
body main {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: 750px;
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  -ms-perspective: 2000px;
  perspective: 2000px;
}
body main .panel {
  height: 250px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
body main .panel .front, body main .panel .back {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
body main .panel .back {
  position: relative;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
  bottom: 250px;
  display: grid;
  grid-template-columns: auto;
  text-align: center;
}
body main .panel .back a {
  text-transform: uppercase;
  color: white;
  font-size: 25px;
  font-weight: bold;
}
body main .panel .front h2 {
  text-transform: uppercase;
  color: white;
  font-size: 30px;
  font-weight: bold;
}
body main .panel:hover {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
  transform: rotateX(180deg);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
body .code .front {
  background-color: cornflowerblue;
}
body .photo .front {
  background-color: yellowgreen;
}
body .about .front {
  background-color: gray;
}
body .back {
  background-color: darkgrey;
}
body footer {
  position: absolute;
  bottom: 25px;
  right: 115px;
  text-align: right;
  color: white;
}
body canvas {
  position: absolute;
  z-index: -200;
}

@media screen and (min-width: 840px) {
  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 2fr 1fr;
  }
  .container .code, .container .photo {
    height: 500px;
  }
  .container .code .back, .container .photo .back {
    bottom: 500px;
  }
  .container .about {
    grid-column: span 2;
  }
}

/*# sourceMappingURL=main.css.map */
